<form [formGroup]="graphInitForm" novalidate *ngIf="!isCreated;else creation" class="mx-3" style="height: 89.7vh;">
  <!-- AGGIUNGI ! -->
  <h3 class="py-4 text-white">Graph details</h3>

  <div class="form-floating">
    <input type="text" class="my-2 form-control" id="graphNameInput" placeholder="Graph name" formControlName="graph_name" (input)="checkGraphName($any($event.target).value)">
    <label for="graphNameInput">graph name</label>
    <p class="text-danger text-start" *ngIf="!graphInitForm.controls['graph_name'].valid">graph name required</p>
    <p class="text-danger text-start" *ngIf="graphNameAlready">graph name already taken</p>
  </div>

  <div class="form-floating">
    <textarea class="h-25 my-2 form-control" id="graphDescriptionInput" placeholder="Graph description" formControlName="graph_desc"></textarea>
    <label for="graphDescriptionInput">Graph description</label>
  </div>

  <button class="w-50 mt-5 btn btn-lg btn-primary" [ngClass]="{'disabled': !graphInitForm.controls['graph_name'].valid || graphNameAlready}" type="submit" (click)="tryCreate()">Next</button>
</form>

<ng-template #creation>
  <div class="row mx-3" style="height: 89.7vh;">
    <div class="col-12">

      <div class="d-flex align-items-center">
        <button class="btn btn-sm btn-transparent align-self-center" (click)="isCreated = false">
          <img src="../../../../../../assets/images/arrow-left-short-white.svg" alt="go back">
        </button>
        <h3 class="ms-1 my-3 text-white" style="overflow-x: auto;">{{graphEditingService.graph.name}}</h3>
        <button class="btn btn-sm align-self-center btn-danger ms-auto" (click)="start_over()" title="Delete all nodes and edges">Start over</button>
      </div>

      <div class="col-12 d-flex align-items-center">
        <h5 class="my-grey mt-2">Create:</h5>
        <select name="graph_elements" (change)="changedView($any($event.target).value)" class="form-select my-bg-grey ms-5" [value]="view">
          <option selected value="node_task">Node task</option>
          <option value="node_cond">Node condition</option>
          <option value="edge">Edge</option>
        </select>
        <!-- <button class="btn w-50" [ngClass]="this.view=='node'? 'btn-secondary':'btn-outline-secondary'" (click)="changedView('node')">Add Node</button>
        <button class="btn w-50" [ngClass]="this.view=='edge'? 'btn-secondary':'btn-outline-secondary'" (click)="changedView('edge')">Add Edge</button> -->
      </div>

      <div class="d-flex-column my-grey mt-4">
        <div *ngIf="view== 'node_cond'||view == 'node_task'">
          <form [formGroup]="nodeForm" novalidate class="d-flex-column">
            <input type="text" class="form-control my-2 " formControlName="node_id" placeholder="node id" (input)="checkNodeInput()" [ngClass]="{'is-invalid': !nodeForm.controls['node_id'].valid}">
            <p class="text-danger text-start my-0" *ngIf="nodeIdAlready">node id already taken</p>
            <input type="text" class="form-control my-2 " formControlName="node_label" placeholder="node label">

            <div class="d-flex">
              <button class="mt-2 btn btn-primary" [ngClass]="{'disabled': !nodeForm.controls['node_id'].valid, 'btn-warning': nodeEditing}" type="submit" (click)="tryNode()" [innerText]="(nodeEditing && nodeForm.controls['node_id'].valid)? 'Edit':'Add'">Add</button>
              <button class="ms-3 mt-2 btn btn-danger" *ngIf="nodeEditing && nodeForm.controls['node_id'].valid" (click)="deleteNode()">Delete</button>
              <button class="ms-auto mt-2 btn btn-secondary" (click)="clearNodeInput()">Clear</button>
            </div>
          </form>
        </div>

        <div *ngIf="view == 'edge'">
          <form [formGroup]="edgeForm" novalidate class="d-flex-column">
            <input type="text" class="form-control my-2" formControlName="edge_source" placeholder="edge source" (input)="checkEdgeInput()" [ngClass]="{'is-invalid': !edgeForm.controls['edge_source'].valid}">
            <p *ngIf="edgeSourceNotFound" class="text-danger text-start mt-1">source node doesn't exist</p>
            <input type="text" class="form-control my-2" formControlName="edge_target" placeholder="edge target" (input)="checkEdgeInput()" [ngClass]="{'is-invalid': !edgeForm.controls['edge_target'].valid}">
            <p *ngIf="edgeTargetNotFound" class="text-danger text-start mt-1">target node doesn't exist</p>
            <p *ngIf="edgeIdAlready" class="text-danger text-start mt-1">already existst an edge with this combination of source and target</p>
            <p *ngIf="edgeIsLoop" class="text-danger text-start mt-1">source and target must be different</p>
            <input type="text" class="form-control my-2" formControlName="edge_label" placeholder="edge label">

          <div class="d-flex">
            <button class="mt-2 btn btn-primary" [ngClass]="{'disabled': !edgeForm.controls['edge_source'].valid || !edgeForm.controls['edge_target'].valid || edgeIsLoop || edgeSourceNotFound || edgeTargetNotFound, 'btn-warning': edgeEditing}" type="submit" (click)="tryEdge()" [innerText]="(edgeEditing && edgeForm.controls['edge_source'].valid && edgeForm.controls['edge_target'].valid) ? 'Edit':'Add'">Add</button>
            <button class="ms-3 mt-2 btn btn-danger" *ngIf="edgeEditing && edgeForm.controls['edge_source'].valid && edgeForm.controls['edge_target'].valid" (click)="deleteEdge()">Delete</button>
            <button class="ms-auto mt-2 btn btn-secondary" (click)="clearEdgeInput()">Clear</button>
          </div>
          </form>
        </div>

      </div>

    </div>

    <div class="mt-auto">
      <div class="col-12">
        <button class="btn btn-success w-100" (click)="saveGraph()">Create Graph</button>
      </div>
      <div class=" d-flex gap-2 my-3 justify-content-evenly">
        <button class="btn btn-sm btn-secondary"
          (click)="centerGraph()">Center graph</button>
        <button class="btn btn-sm btn-secondary"
          (click)="fitGraph()">Zoom to fit</button>
      </div>
    </div>
  </div>
</ng-template>
