<form [formGroup]="graphInitForm" novalidate *ngIf="!isCreated;else creation" class="mx-3">
  <!-- AGGIUNGI ! -->
  <h3 class="my-4 text-white">Graph details</h3>

  <div class="form-floating">
    <input type="text" class="my-2 form-control" id="graphNameInput" placeholder="Graph name" formControlName="graph_name">
    <label for="graphNameInput">graph name</label>
    <p class="text-danger text-start" *ngIf="!graphInitForm.controls['graph_name'].valid">graph name required</p>
  </div>

  <div class="form-floating">
    <textarea class="my-2 form-control" id="graphDescriptionInput" placeholder="Graph description" formControlName="graph_desc"></textarea>
    <label for="graphDescriptionInput">Graph description</label>
    <p class="text-danger text-start" *ngIf="!graphInitForm.controls['graph_desc'].valid">graph description required</p>
  </div>

  <button class="w-50 mt-5 btn btn-lg btn-primary" [ngClass]="{'disabled': !graphInitForm.controls['graph_name'].valid}" type="submit" (click)="tryCreate()">Create</button>
</form>

<ng-template #creation>
  <div class="row">
    <div class="col-12 mx-3">

      <h3 class="ms-2 my-4 text-white">{{graphCreationService.graph.name}}</h3>

      <div class="col-8 ms-2 pt-2">
        <select name="graph_elements" (change)="changedView($event)" class="form-select my-bg-grey">
          <option selected value="node">Add Node</option>
          <option value="edge">Add Edge</option>
        </select>
      </div>

      <div class="d-flex-column my-grey mt-4 ms-2">
        <div *ngIf="view=='node';else edgeview">
          <form [formGroup]="newNodeForm" novalidate class="d-flex-column">
            <input type="text" class="form-control w-50 my-2" formControlName="node_id" placeholder="node id">
            <input type="text" class="form-control w-75 my-2" formControlName="node_label" placeholder="node label">

            <div class="my-3">
              <input type="radio" class="form-check-radio" id="type_cond" formControlName="node_type" value="cond">
              <label class="mx-2" for="type_cond">cond</label>
              <input type="radio" class="form-check-radio" id="type_task" formControlName="node_type" value="task">
              <label class="mx-2" for="type_task">task</label>
            </div>

            <button class="mt-3 w-50 btn btn-success" [ngClass]="{'disabled': !newNodeForm.controls['node_id'].valid || !newNodeForm.controls['node_label'].valid || !newNodeForm.controls['node_type'].valid}" type="submit" (click)="tryAddNode()">Create</button>
          </form>
        </div>

        <ng-template #edgeview>
          <form [formGroup]="newEdgeForm" novalidate class="d-flex-column">
            <input type="text" class="form-control w-50 my-2" formControlName="edge_id" placeholder="edge id">
            <input type="text" class="form-control w-75 my-2" formControlName="edge_source" placeholder="edge source">
            <input type="text" class="form-control w-75 my-2" formControlName="edge_target" placeholder="edge target">

            <button class="mt-3 w-50 btn btn-success"
              [ngClass]="{'disabled': !newEdgeForm.controls['edge_id'].valid || !newEdgeForm.controls['edge_source'].valid || !newEdgeForm.controls['edge_target'].valid}"
              type="submit" (click)="tryAddEdge()">Create</button>
          </form>
        </ng-template>
      </div>

    </div>
  </div>
</ng-template>
