<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ms-3" href="/app/graph">
    <img class="" src="../../../assets/images/square-grey.svg" width="50" alt="logo">
  </a>
  <div class="navbar-nav ms-auto">
    <a class="nav-link header-link active" aria-current="page" href="/app/graph">Home</a>
    <a class="nav-link header-link" href="#">link1</a>
    <a class="nav-link header-link" href="#">link2</a>
  </div>
  <a class="nav-link" href={{user_path}}>
    <!-- se loggato user-path è il path per l'area utente, altrimenti "/login" -->
    <img src="../../../assets/images/square-grey.svg" width="50" alt="user">
  </a>
</nav>
