<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/app/graph" class="navbar-brand">
      <!-- <img src="" alt="logo"> -->
      <div style="background-color: #aaa; width: 50px; height: 50px"></div>
    </a>
    <div class="navbar-nav">
      <a class="nav-link header-link active" aria-current="page" href="/app/graph">Home</a>
      <a class="nav-link header-link" href="#">link1</a>
      <a class="nav-link header-link" href="#">link2</a>
    </div>
  </div>
</nav>
