<ngx-graph class="chart-container"
  [update$]="update$"
  [center$]="center$"
  [zoomToFit$]="zoomToFit$"
  [view]="[900, 500]"
  [nodes]="nodes"
  [links]="edges"
  (select)="onNodeSelect($event)">

  <ng-template #nodeTemplate let-node>
    <svg xmlns="http://www.w3.org/2000/svg">
      <g *ngIf="node.type=='task'">
        <!-- tasks -> red -->
        <rect x="0" y="10" width="100" height="50" rx="10" fill="#a22"></rect>
        <rect x="0" y="0" width="100" height="30" rx="10" fill="#811"></rect>
      </g>
      <g *ngIf="node.type=='cond'">
        <!-- conditions -> blue -->
        <rect x="0" y="10" width="100" height="50" rx="10" fill="#22a"></rect>
        <rect x="0" y="0" width="100" height="30" rx="10" fill="#118"></rect>
      </g>
      <text x="45" y="20" font-size="15" fill="#fff">{{node.id}}</text>
      <text x="10" y="50" font-size="15" fill="#fff">{{node.label}}</text>
    </svg>
  </ng-template>

  <!-- <ng-template #linkTemplate let-link> -->
      <!-- <svg:g class="edge" (click)="linkClick(link)"> -->
        <!-- <svg:circle width="15" height="15" fill="#000"></svg:circle> -->
        <!-- <svg:path class="line" stroke-width="4" ></svg:path> -->
        <!-- <svg:text class="edge-label" text-anchor="middle"> -->
          <!-- <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" -->
            <!-- startOffset="50%"> -->
            <!-- {{link.label}} -->
          <!-- </textPath> -->
        <!-- </svg:text> -->
      <!-- </svg:g> -->
  <!-- </ng-template> -->

  <!-- <ng-template #defsTemplate> -->
    <!-- <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto"> -->
      <!-- <svg:path d="M0,-5L10,0L0,5" class="arrow-head" /> -->
    <!-- </svg:marker> -->
  <!-- </ng-template> -->


</ngx-graph>

