<div class="row mx-3" style="height: 89.7vh;">
  <div class="col-12">

    <h3 class="ms-1 my-3 text-white">{{graphEditingService.graph.name}}</h3>

    <div class="col-12 d-flex align-items-center">
      <h5 class="my-grey mt-2">Edit:</h5>
      <select name="graph_elements" (change)="changedView($any($event.target).value)" class="form-select my-bg-grey ms-5"
        [value]="view">
        <option value="graph">Graph</option>
        <option selected value="node_task">Node task</option>
        <option value="node_cond">Node condition</option>
        <option value="edge">Edge</option>
      </select>
    </div>

    <div class="d-flex-column my-grey mt-4">
      <div *ngIf="view=='graph'">
        <form [formGroup]="editGraphForm" novalidate class="d-flex-column">
          <input type="text" class="form-control my-2" formControlName="graph_name" placeholder="graph name" (input)="checkGraphName()" [ngClass]="{'is-invalid': !editGraphForm.controls['graph_name'].valid}">
          <p class="text-danger text-start my-0" *ngIf="graphNameAlready">Graph name already taken</p>
          <textarea type="text" class="form-control my-2" formControlName="graph_desc" placeholder="graph description"></textarea>

          <button class="mt-2 w-50 btn btn-primary"
            [ngClass]="{'disabled': !editGraphForm.controls['graph_name'].valid}"
            type="submit" (click)="editGraph()">Save</button>
        </form>
      </div>

      <div *ngIf="view== 'node_cond'||view == 'node_task'">
        <form [formGroup]="nodeForm" novalidate class="d-flex-column">
          <input type="text" class="form-control my-2 " formControlName="node_id" placeholder="node id"
            (input)="checkNodeInput()" [ngClass]="{'is-invalid': !nodeForm.controls['node_id'].valid}" [readonly]="nodeEditing">
          <p class="text-danger text-start my-0" *ngIf="(nodeIdAlready && !nodeEditing)">node id already taken</p>
          <input type="text" class="form-control my-2 " formControlName="node_label" placeholder="node label">

          <div class="d-flex">
            <button class="mt-2 btn btn-primary"
              [ngClass]="{'disabled': !nodeForm.controls['node_id'].valid || (nodeIdAlready && !nodeEditing), 'btn-warning': nodeEditing}" type="submit"
              (click)="tryNode()" [innerText]="(nodeEditing && nodeForm.controls['node_id'].valid)? 'Edit':'Add'">Add</button>
            <button class="ms-3 mt-2 btn btn-danger" *ngIf="nodeEditing && nodeForm.controls['node_id'].valid"
              (click)="deleteNode()">Delete</button>
            <button class="ms-auto mt-2 btn btn-secondary" (click)="clearNodeInput()">Clear</button>
          </div>
        </form>
      </div>

        <div *ngIf="view == 'edge'">
          <form [formGroup]="edgeForm" novalidate class="d-flex-column">
            <input type="text" class="form-control my-2" formControlName="edge_source" placeholder="edge source"
              (input)="checkEdgeInput()" [ngClass]="{'is-invalid': !edgeForm.controls['edge_source'].valid}" [readonly]="edgeEditing">
            <p *ngIf="edgeSourceNotFound" class="text-danger text-start mt-1">source node doesn't exist</p>
            <input type="text" class="form-control my-2" formControlName="edge_target" placeholder="edge target"
              (input)="checkEdgeInput()" [ngClass]="{'is-invalid': !edgeForm.controls['edge_target'].valid}" [readonly]="edgeEditing">
            <p *ngIf="edgeTargetNotFound" class="text-danger text-start mt-1">target node doesn't exist</p>
            <p *ngIf="(edgeIdAlready && !edgeEditing)" class="text-danger text-start mt-1">already existst an edge with this combination of source
              and target</p>
            <p *ngIf="edgeIsLoop" class="text-danger text-start mt-1">source and target must be different</p>
            <input type="text" class="form-control my-2" formControlName="edge_label" placeholder="edge label">

            <div class="d-flex">
              <button class="mt-2 btn btn-primary"
                [ngClass]="{'disabled': !edgeForm.controls['edge_source'].valid || !edgeForm.controls['edge_target'].valid || edgeIsLoop || edgeSourceNotFound || edgeTargetNotFound || (edgeIdAlready && !edgeEditing), 'btn-warning': edgeEditing}"
                type="submit" (click)="tryEdge()"
                [innerText]="(edgeEditing && edgeForm.controls['edge_source'].valid && edgeForm.controls['edge_target'].valid) ? 'Edit':'Add'">Add</button>
              <button class="ms-3 mt-2 btn btn-danger"
                *ngIf="edgeEditing && edgeForm.controls['edge_source'].valid && edgeForm.controls['edge_target'].valid"
                (click)="deleteEdge()">Delete</button>
              <button class="ms-auto mt-2 btn btn-secondary" (click)="clearEdgeInput()">Clear</button>
            </div>
          </form>
        </div>

    </div>

  </div>

  <div class="mt-auto">
    <div class="col-12">
      <button class="btn btn-success w-100" (click)="saveGraph()">Save Graph</button>
    </div>
    <div class=" d-flex gap-2 my-3 justify-content-evenly">
      <button class="btn btn-sm btn-secondary" (click)="centerGraph()">Center graph</button>
      <button class="btn btn-sm btn-secondary" (click)="fitGraph()">Zoom to fit</button>
    </div>
  </div>
</div>
