<div class="row mx-3" style="height: 89.7vh;">
  <div class="col-12">

    <h3 class="ms-1 my-3 text-white">{{graphEditService.graph.name}}</h3>

    <div class="col-12">
      <button class="btn col-4 btn-sm p-2" [ngClass]="this.view=='graph'? 'btn-secondary':'btn-outline-secondary'"
      (click)="changedView('graph')">Edit Graph</button>
      <button class="btn col-4 btn-sm p-2" [ngClass]="this.view=='node'? 'btn-secondary':'btn-outline-secondary'"
      (click)="changedView('node')">Node</button>
      <button class="btn col-4 btn-sm p-2" [ngClass]="this.view=='edge'? 'btn-secondary':'btn-outline-secondary'"
      (click)="changedView('edge')">Edge</button>
    </div>

    <div class="d-flex-column my-grey mt-4">
      <div *ngIf="view=='graph'">
        <form [formGroup]="editGraphForm" novalidate class="d-flex-column">
          <input type="text" class="form-control my-2" formControlName="graph_name" placeholder="graph name">
          <textarea type="text" class="form-control my-2" formControlName="graph_desc" placeholder="graph description"></textarea>

          <button class="mt-2 w-50 btn btn-primary"
            [ngClass]="{'disabled': !editGraphForm.controls['graph_name'].valid}"
            type="submit" (click)="editGraph()">Save</button>
        </form>
      </div>

      <div *ngIf="view=='node'">
        <form [formGroup]="nodeForm" novalidate class="d-flex-column">
          <input type="text" class="form-control my-2 " formControlName="node_id" placeholder="node id" (input)="nodeInputChange($any($event.target).value)">
          <input type="text" class="form-control my-2 " formControlName="node_label" placeholder="node label">

          <div class="my-2">
            <input type="radio" class="form-check-radio" id="type_cond" formControlName="node_type" value="cond">
            <label class="mx-2" for="type_cond">cond</label>
            <input type="radio" class="form-check-radio" id="type_task" formControlName="node_type" value="task">
            <label class="mx-2" for="type_task">task</label>
          </div>

          <div class="d-flex">
            <button class="mt-2 btn btn-primary"
              [ngClass]="{'disabled': !nodeForm.controls['node_id'].valid || !nodeForm.controls['node_type'].valid, 'btn-warning': nodeEditing}"
              type="submit" (click)="tryNode()" [innerText]="nodeEditing? 'Edit':'Add'">Add</button>
            <button class="ms-3 mt-2 btn btn-danger" *ngIf="nodeEditing" (click)="deleteNode()">Delete</button>
            <button class="ms-auto mt-2 btn btn-secondary" (click)="clearNodeInput()">Clear</button>
          </div>
        </form>

        <div style="height: 170px; overflow: auto">
          <table class="my-2 table-dark table-hover">
            <thead>
              <tr>
                <th>id</th>
                <th>type</th>
                <th>label</th>
              </tr>
            </thead>
            <tbody *ngFor="let node of graphEditService.graph.nodes">
              <tr>
                <td>{{node.id}}</td>
                <td>{{node.type}}</td>
                <td>{{node.label}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="view=='edge'">
        <form [formGroup]="edgeForm" novalidate class="d-flex-column">
          <input type="text" class="form-control my-2" formControlName="edge_id" placeholder="edge id" (input)="edgeInputChange($any($event.target).value)">
          <input type="text" class="form-control my-2" formControlName="edge_source" placeholder="edge source">
          <input type="text" class="form-control my-2" formControlName="edge_target" placeholder="edge target">
          <input type="text" class="form-control my-2" formControlName="edge_label" placeholder="edge label">

          <div class="d-flex">
            <button class="mt-2 btn btn-primary"
              [ngClass]="{'disabled': !edgeForm.controls['edge_id'].valid || !edgeForm.controls['edge_source'].valid || !edgeForm.controls['edge_target'].valid, 'btn-warning': edgeEditing}"
              type="submit" (click)="tryEdge()" [innerText]="edgeEditing? 'Edit':'Add'">Add</button>
            <button class="ms-3 mt-2 btn btn-danger" *ngIf="edgeEditing" (click)="deleteEdge()">Delete</button>
            <button class="ms-auto mt-2 btn btn-secondary" (click)="clearEdgeInput()">Clear</button>
          </div>
        </form>

        <div style="height: 106.5px; overflow: auto">
          <table class="my-2 table-dark table-hover">
            <thead>
              <tr>
                <th>id</th>
                <th>source</th>
                <th>target</th>
                <th>label</th>
              </tr>
            </thead>
            <tbody *ngFor="let edge of graphEditService.graph.edges">
              <tr>
                <td>{{edge.id}}</td>
                <td>{{edge.source}}</td>
                <td>{{edge.target}}</td>
                <td>{{edge.label}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

  <div class="col-12 mt-auto mb-3">
    <button class="btn btn-success w-100" (click)="saveGraph()">Save Graph</button>
  </div>

  <div class="col-12">
    <div class="d-flex gap-2 mb-3 justify-content-evenly">
      <button class="btn btn-sm btn-secondary" (click)="centerGraph()">Center graph</button>
      <button class="btn btn-sm btn-secondary" (click)="fitGraph()">Zoom to fit</button>
    </div>
  </div>
</div>
