<!-- <div class="container" style="background-color: chartreuse"> -->
  <div class="row m-0">
    <!-- metto margine 0 alla row per togliere quello che ha di default per controbilanciare il conainer -->

    <div class="col-4 bg-dark">
      <app-sidebar (updateGraphView)="switcher($event)" [selectedNode]="selectedNode" [selectedEdge]="selectedEdge" [selectedCluster]="selectedCluster" [forcedChange]="sidebar_switch"></app-sidebar>
    </div>

    <div class="col-8" style="padding: 0;">
      <app-creation-view [update]="graph_switch" (selectedNode)="nodeIsSelected($event)" (selectedEdge)="edgeIsSelected($event)" (selectedCluster)="clusterIsSelected($event)"></app-creation-view>
    </div>

  </div>
<!-- </div> -->
